div.content {
    background-color: white;
    left: 30%;
    right: 30%;
    border-radius: 4px/4px;
    box-shadow: 2px 3px 6px #bbb;
}


p.error {
    color: red;
    text-align: center;
}

form.login ul {
    list-style: none;
}

li.col1 {
    float: left;
}